@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
  
}

li .project-title {
  background-color: #000;
}

li .nav-link:hover {

  color: #000 !important;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  
 
}


.purple {
  background-color: #8f43ee;
}

.hero-img {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 60vh;
  position: relative;
}

.hero-img::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1525373698358-041e3a460346?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80")
    no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.work-button {
  animation: fadeIn 0.5s ease-in-out 0.8s;
  animation-fill-mode: both; /*stop from showing at start*/
}

.button {
  background: #8f43ee;
  border: none;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: #ffffff;
  color: #8f43ee;
  border: 2px solid #8f43ee;
  border-radius: 4;
  transition: all 0.3s ease-in-out;
}

.buttons {
  background: #8f43ee;
  border: none;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 40px;
  text-decoration: none;
}

.buttons:hover {
  background-color: #ffffff;
  color: #8f43ee;
  border-radius: 4;
  font-weight: 700;
  border: 2px solid #8f43ee;
  transition: all 0.5s ease-in-out;
}

.text-purple {
  color: #8f43ee;
}

.text {
  color: #545b77;
}
.text:hover {
  color: #8f43ee;
  text-decoration: underline;
  font-weight: 700;
}



.active {
  display: inline-block;
  color: #000 !important;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
 
}


.left-animation {
  animation: fadeInUp 0.7s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-140px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading1 {
  animation: fadeIn 0.5s ease-in-out 0.2s;
  animation-fill-mode: both; /*stop from showing at start*/
}
.heading2 {
  animation: fadeIn 0.5s ease-in-out 0.4s;
  animation-fill-mode: both; /*stop from showing at start*/
}
.heading3 {
  animation: fadeIn 0.5s ease-in-out 0.6s;
  animation-fill-mode: both; /*stop from showing at start*/
}
.heading4 {
  animation: fadeInUp 0.5s ease-in-out 0.8s;
  animation-fill-mode: both; /*stop from showing at start*/
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@media (max-width: 768px) {
  .showcase-content {
    text-align: center;
  }
  .work-button {
    display: inline-block;
    width: 50%;
    margin: auto;
  }
  .project-title {
    font-size: 17px !important;
    font-weight: 500;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }


}
